@font-face {
    font-family: "Redcollar";
    src: url(../assets/fonts/Redcollar.woff2), format('woff2');
    src: url(../assets/fonts/Redcollar.woff) format('woff');
}

@font-face {
    font-family: "TT Commons Regular";
    src: url(../assets/fonts/TTCommons-Regular.woff2), format('woff2');
    src: url(../assets/fonts/TTCommons-Regular.woff), format('woff');
}

@font-face {
    font-family: "TT Commons Medium";
    src: url(../assets/fonts/TTCommons-Medium.woff2), format('woff2');
    src: url(../assets/fonts/TTCommons-Medium.woff), format('woff');
}