$bg-color: #FFF;
$text-color: #000;
$accent-color: #F51B1B;
$main-text-color: #0D0C0C;
$grey-color: #B3B3BC;
$inactive-color: #A4A4A4;
$element-color: #EFEFEF;

$main-font: Redcollar;
$primary-font: TT Commons Medium;
$secondary-font: TT Commons Regular;