@import '../../../styles/vars.scss';
@import '../../../styles/base.scss';

.modalWrapper {
    width: 710px;
    height: 618px;
    flex-shrink: 0;
    justify-content: flex-start;
    padding: 80px 95px 64px;
}

.modalCloseBtn {
    margin-right: -55px;
    margin-top: -40px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px;
    padding: 8px 12px;
    gap: 8px;
    border-radius: 12px;
    background-color: $element-color;
    font-family: $primary-font;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: -0.28px;
}

.registrationForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 24px 95px 0;
    gap: 32px;
}

.labelInput {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    height: 60px;
    padding: 10px 16px 9px 16px;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid $grey-color;
    outline: none;
    cursor: pointer;
    font-family: $secondary-font;
    color: $grey-color;
}

.labelUser {
    font-size: 14px;
    letter-spacing: -0.28px;
}

.labelPassword,
.labelPasswordConfirm {
    font-size: 20px;
}

.inputUser,
.inputPassword,
.inputPasswordConfirm {
    outline: none;
    border: none;
}

.inputUser:focus {
    caret-color: $system-color;
    width: 1px;
    height: 16px;
}

.inputPassword,
.inputPasswordConfirm {
    outline: none;
    border: none;
}

.button {
    align-self: stretch;
    background-color: $element-color;
    color: $grey-color;
}