@import '../../styles/vars.scss';

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $main-font;

    // border: 1px solid orange;
}

.subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 678px;
    height: 77px;
    text-transform: lowercase;
}

.logotype {
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

.logo {
    width: 53px;
    height: 31px;
}

.title {
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: -0.52px;
    color: $text-color;

    @media (max-width: 1600px) {
        font-size: 24px;
    }
}

.h2 {
    font-size: 64px;
    line-height: 1.2;
    letter-spacing: -2.56px;

    @media (max-width: 1600px) {
        font-size: 60px;
    }
}

.active {
    color: $accent-color;
}

.monitor {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition: transform 0.3s ease;
}

.month {
    padding: 8px 24px;
    font-size: 26px;
    line-height: 1.2; 
    letter-spacing: -0.52px;

    @media (max-width: 1600px) {
        font-size: 24px;
    }
}

.leftArrow,
.rightArrow {
    width: 48px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: $element-color;
}

.leftArrow:hover,
.rightArrow:hover {
    transform: scale(0.95);
    opacity: 0.9;
}

.inactiveLogin {
    transition: transform 0.3s ease;
}

.loginBtn {
    width: 124px;
    height: 60px;
    border-radius: 12px;
    background-color: $main-text-color;
    color: $bg-color;
    font-size: 18px;
    letter-spacing: -0.36px;

    @media (max-width: 1600px) {
        height: 58px;
    }
}

.loginBtn:hover {
    transform: scale(0.99);
    opacity: 0.9;
}