@import '../../styles/vars.scss';

.wrapper {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 678px;
    height: 77px;
    font-family: $main-font;
}

.subheader {
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

.title {
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: -0.52px;
    color: $text-color;
}

.h2 {
    font-size: 64px;
    line-height: 1.2;
    letter-spacing: -2.56px;
}

.active {
    color: $accent-color;
}