@import '../../../styles/vars.scss';

.monitor {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: auto;
    padding-top: 28px;
    gap: 8px;
    transition: transform 0.3s ease;
}

.month {
    padding: 8px 24px 4px;
    
    font-size: 26px;
    line-height: 1.2; 
    letter-spacing: -0.52px;

    @media (max-width: 1600px) {
        font-size: 24px;
    }

    @media (max-width: 1420px) {
        font-size: 22px;
    }
}

.leftArrow,
.rightArrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: $element-color;

    @media (max-width: 1530px) {
        width: 44px;
        height: 36px;
    }

    @media (max-width: 1420px) {
        width: 42px;
        height: 34px;
    }
}

.leftArrow:hover,
.rightArrow:hover {
    transform: scale(0.95);
    opacity: 0.9;
}