@import '../../../styles/vars.scss';

.subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 77px;
    text-transform: lowercase;
}

.logotype {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    @media (max-width: 1360px) {
        gap: 10px;
    }
}

.logo {
    width: 53px;
    height: 31px;

    @media (max-width: 1530px) {
        width: 48px;
        height: 26px;
    }

    @media (max-width: 1330px) {
        width: 44px;
        height: 22px;
    }
}

.title {
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: -0.52px;
    color: $text-color;

    @media (max-width: 1660px) {
        font-size: 24px;
    }

    @media (max-width: 1530px) {
        font-size: 22px;
    }

    @media (max-width: 1330px) {
        font-size: 20px;
    }
}

.h2 {
    font-size: 64px;
    line-height: 1.2;
    letter-spacing: -2.56px;

    @media (max-width: 1660px) {
        font-size: 60px;
    }

    @media (max-width: 1530px) {
        font-size: 56px;
    }

    @media (max-width: 1420px) {
        font-size: 52px;
    }

    @media (max-width: 1330px) {
        font-size: 48px;
    }
}

.active {
    color: $accent-color;
}
